<div class="container">
  <h1 class="page-header"></h1>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> League Details</h3>
  </div>
  <div class="panel-body">
    <span><strong>League Name : </strong></span>
    <span><%= leagueItem.name %></span><br>
    <span><strong>League Type : </strong></span>
    <span><%= leagueItem.day %> <%= leagueItem.time %></span><br>
    <span><strong>League Start Date : </strong></span>
    <span><%= leagueItem.startDate %></span><br>
    <span><strong>League End Date : </strong></span>
    <span><%= leagueItem.endDate %></span><br>
    <span><strong>Organizer : </strong></span>
    <span><%= leagueItem.organizer %></span><br>
    <span><strong>Organizer Email: </strong></span>
    <span><%= leagueItem.organizerEmail %></span><br>
    <span><strong>Organizer Contact: </strong></span>
    <span><%= leagueItem.organizerContact %></span><br>
    <a class="btn btn-warning" href=<%= "/league/" + leagueItem._id + "/edit" %>>Edit</a>
    <form class="deleteForm "method="POST" action=<%= "/club/" + leagueItem._id + "?_method=DELETE" %>>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
</div>
