<div class="container">
  <h1 class="page-header"></h1>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><img src=<%= clubItem.teamBadge %> width=50> <%= clubItem.name %> Club Details</h3>
  </div>
  <div class="panel-body">
    <span class="glyphicon-class"><strong>Home Kit : </strong></span>
    <span class="glyphicon glyphicon-user" aria-hidden="true" style=" color:<%= clubItem.homeKitColor %>;" ></span> <br>
    <span class="glyphicon-class"><strong>Away Kit : </strong></span>
    <span class="glyphicon glyphicon-user" aria-hidden="true" style=" color:<%= clubItem.awayKitColor %>;" ></span><br>
    <span class="glyphicon-class"><strong>Third Kit : </strong></span>
    <span class="glyphicon glyphicon-user" aria-hidden="true" style=" color:<%= clubItem.thirdKitColor %>;" ></span><br>
    <a class="btn btn-warning" href=<%= "/club/" + clubItem._id + "/edit" %>>Edit</a>
    <form class="deleteForm "method="POST" action=<%= "/club/" + clubItem._id + "?_method=DELETE" %>>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
</div>
