<div class="container">
  <h1 class="page-header">Tournament</h1>

<ul class="list-group">
  <% tournaments.forEach(function (tournamentItem) { %>
    <li class="list-group-item">
      <strong><%= tournamentItem.name %></strong><br>
      <strong>Tournament Date : <%= tournamentItem.tournamentDate %></strong><br>
      <strong>
      Prize Money : $ <%= tournamentItem.prizeMoney %></strong><br>
      <strong>
      No. Of Players Joined : <%= tournamentItem.totalPlayers %> / <%= tournamentItem.maxPlayers %> </strong><br>
      <a href=<%= "/tournament/" + tournamentItem._id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
